<form method="post">
    <div style="width: 100%;position: fixed;top: 15%;" draggable="true">
    <div style="float: right; margin-right: 10%;">
        <button class="btkep" type="submit" name="task" value="szerk"><img src="res/ico/32/edit.png"/></br>Szerkeszt</button>
        <button class="btkep" type="submit" name="task" value="uj" ><img src="res/ico/32/plusz.png"/></br>Új</button>
        <button class="btkep" type="submit" name="task" value="torol" ><img src="res/ico/32/torol.png"/></br>Töröl</button>
        <button class="btkep" type="submit" name="task" value="pub" ><img src="res/ico/32/published.png"/></br>Enged</button>
        <button class="btkep" type="submit" name="task"  value="" ><img src="res/ico/32/Unpublished.png"/></br>Tilt</button></div><div style="clear: both; "></div>
    </div>
    <div style="margin-top:70px;">
        <!--|tabla|-->
    </div>

</form>
